@model IEnumerable<NETD3202_ASasitharan_Lab5.Models.Appointment>

@{
    ViewData["Title"] = "Brampton Hospital-Appointments";
}

<h1>Appointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Appointment Type
            </th>
            <th>
                Date
            </th>
            <th>
                Doctor Name
            </th>
            <th>
               Patient ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.patientId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.appointmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.appointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.appointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
